#svglogodom path:nth-child(1){
    stroke-dasharray: 860px;
    stroke-dashoffset: 650px;
    animation: svg-anim 10s ease forwards ;
}

@keyframes svg-anim {
    to {
        stroke-dasharray: 0;
    }
}
.presentationdom{
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: 50% 50% ;
    grid-template-rows:300px 600px 700px;
    background-color: #008970;
    /*height: 530px;*/
}
.ubung-dom{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    box-shadow: 10px 5px 5px black;
    background-color: #04a286;
    margin-left: 60px;
    margin-right: 60px;
}
.bild-ubungdom{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3 ;
}
.collapsible:hover{
    background-color: rgba(0,0,0,0.3);
}
.collapsible {
    background-color: rgba(0,0,0,0.2);
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 93%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}
.collapcontent{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 90.7%;
}
.iframedom{
    width: 100%;
    height: 300px;
}
.imgubung{
    margin-top: 20px;
    margin-left: 35%;
    width: 30%;
    border-radius: 7px ;
    border: 1px solid black;
}
@media screen and (max-width: 1080px){
    #svglogodom path:nth-child(1){
        stroke-dasharray: 0;
    }
    .presentationdom{
        grid-template-rows:300px 600px 400px;
    }
    .imgubung{
        margin-top: 70px;
        margin-left: 20%;
        width: 250px;
        border-radius: 7px ;
        border: 1px solid black;
    }
}