body{
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: Center;
}

header{
    display: grid;
    height: 180px;
    grid-template-columns: 10% 90%;
    background-color: #000;
    align-items: center;
    justify-content: center;
}
.logoheader img{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
}
.titleoben{
    color: #008970;
    font-size: 40px;

}
.headtitle1{
    color: #e7e1e1;
    font-size: 20px;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
}
/* Custom Scroll Bar */
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #008970;
    border-radius: 5rem;
}

a{
    text-decoration: none;
}


footer{
    height: 80px;
    text-align: center;
    background-color: #c5c5c5;
    border-top: 2px solid black;
}

nav{

    width: 100%;
    background-color: #64b4a6;
    position: -webkit-sticky;
    position: sticky;
    display: grid;
    grid-template-columns: 7% 86% 7%;
    top: 0;

}
nav ul{
    margin: 0px;
    padding: 0px;

}
nav li{
    list-style-type:none ;
    float: left;
}
nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #fff;
    text-transform: uppercase ;
    font-size: 18px;
}
.menu-icon{
    display: none;
    cursor: pointer;
    margin-top: 10px;
    grid-column-start: 3;
    grid-column-end: 4;
}

.menu-icon div{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: all 0.3s ease;
}

article a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #000;
    text-transform: uppercase ;

}
article li{
    list-style-type: none;
    /*float: left;*/
}
.titlejs, .titlecss, .titledom,.titleecm,.titlefunc{
    font-size: 30px;
    text-align: Center;
}
.menu-home{
    grid-column-start: 1;
    grid-column-end: 2;
}

.topnav{
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: left;
    overflow: hidden;

}
/*.icon {*/
/*    display: none;*/
/*    padding: 20px 30px;*/
/*    color: #fff;*/
/*    font-size: 25px;*/
/*}*/

.menu-js:hover,.menu-css:hover,
.menu-php:hover,.menu-DOM:hover,.menu-ECMAScript:hover,.menu-functional:hover,.menu-Async:hover,.menu-SVG:hover,
.menu-Vue:hover,.menu-Security:hover{
    border-top: 5px solid #008970;
    background-color: #04a286;
}
nav li:hover a,.active{
    padding: 15px 30px 20px 30px;
}
.menu-home:hover{
    background-color: #04a286;

}
.active{
    color: white;
    font-size: 50px;
}

.presentation1{
    display: grid;
    padding: 0px;
    margin: 0px;
    grid-template-columns: 50% 50% ;
    grid-template-rows:300px 300px 300px 400px 400px 400px;
    background-color: #008970;
    /*height: 530px;*/
}
.right{
    /*float: left;*/
    grid-column-start: 2;
    grid-column-end: 3;
}
.left{
    grid-column-start: 1;
    grid-column-end: 2;
    overflow: hidden;
}
.left-css{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    box-shadow: 10px 5px 5px black;
    background-color: #04a286;
    margin-left: 30px;
}
.right-css{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.left-js{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    box-shadow: 10px 5px 5px black;
    background-color: #04a286;
    margin-left: 30px;
    margin-top: 30px;
}
.right-js{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}
.left-dom{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    box-shadow: 10px 5px 5px black;
    background-color: #04a286;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.right-dom{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}
.left-ecm{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    box-shadow: 10px 5px 5px black;
    background-color: #04a286;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.right-ecm{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}
.left-func{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
    box-shadow: 10px 5px 5px black;
    background-color: #04a286;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.right-func{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
}
p{
    margin-left: 30px;
}
.imgall,.imgecm,.imgfunc{
    display: block;
    margin-top: 50px;
    margin-left: 50px;
    width: 50%;
    border-radius: 7px ;
    border: 1px solid black;
}
.imgecm{
    width: 60%;
}
.imgcss,.imgjs{
    display: block;
    margin-top: 50px;
    margin-left: 50px;
    width: 20%;
    border-radius: 7px ;
    border: 1px solid black;
}
.imgdom{
    display: block;
    margin-top: 50px;
    margin-left: 50px;
    width: 30%;
    border-radius: 7px ;
    border: 1px solid black;
}
.presentationcss{
    display: grid;
    padding: 0px;
    margin: 0px;
    grid-template-columns: 50% 50% ;
    grid-template-rows:300px 300px 300px 400px;
    background-color: #008970;
}
.css-inhalt,.DOM-inhalt{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
h2{
    text-align: center;
}
.p2{
    text-align: center;
}
.left-css1{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    box-shadow: 10px 5px 5px black;
    margin-left: 30px;
    background-color: #04a286;

}
.right-css1{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: 10px 5px 5px black;
    margin-right: 50px;
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: #04a286;

}
.right-js1{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.left-js1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.bild-ubung{
    /*display: flex;*/
    /*justify-content: center;*/
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3 ;
}

.imgubung{
    margin-top: 20px;
    margin-left: 35%;
    width: 20%;
    border-radius: 7px ;
    border: 1px solid black;
}
.presentationdom{
    display: grid;
    padding: 0px;
    margin: 0px;
    grid-template-columns: 50% 50% ;
    grid-template-rows:300px 300px 400px;
    background-color: #008970;
    /*height: 530px;*/
}
.ubung-dom{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    box-shadow: 10px 5px 5px black;
    background-color: #04a286;
    margin-left: 100px;
    margin-right: 100px;
}
.bild-ubungdom{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3 ;
}
button {
    background-color: #04a286;
    display: inline-block;
    color: #000000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
}
button:hover{
    background-color: #008970;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.csspos1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.csspos1container{
    background-color: white;
    width: 70%;
    height: 700px;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover{
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
@media screen and (max-width: 450px){
    .headtitle1{
        font-size: small;
    }

}
@media screen and (max-width: 650px){
    .headtitle1{
        font-size: x-large;
    }

}
@media screen and (max-width: 1530px){
    .headtitle1{
        font-size: x-large;
    }
    nav ul li a{
        padding-left: 15px;
        padding-right: 15px;
        display: inline-block;

    }
}
@media screen and (max-width: 1200px){
    nav ul li a{
        padding-left: 7px;
        padding-right: 7px;
        display: inline-block;
    }
}

@media screen and (max-width: 1080px) {
    /*
     * source : https://www.youtube.com/watch?v=gXkqy0b4M5g&t=1118s
    */
    body{
        overflow-x: hidden;
    }

    .topnav{
        position: absolute;
        right: 0px;
        height: 80vh;
        top: 8vh;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }


    .menu-icon{
        display: block;
    }
    .topnav li{
        opacity: 0;
    }
    .imgall,.imgecm,.imgcss,.imgjs,.imgdom,.imgfunc{
        display: none;
    }
    nav ul li a{
        display: inline-block;
        text-decoration: none;
        padding: 20px 30px;
        color: #fff;
        text-transform: uppercase ;
        font-size: 18px;
    }
}

.nav-active{
    transform: translateX(0%);
}

    /*
     * source : https://www.youtube.com/watch?v=gXkqy0b4M5g&t=1118s
    */
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .mi1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .mi2{
    opacity: 0;
}
.toggle .mi3{
    transform: rotate(45deg) translate(-5px,-6px);
}