body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 40px;
    font-weight: normal;
    text-align: Center;

}

header{
    height: 200px;
    background-image: url("BackgrundHead2.png");
    position: -webkit-sticky;
    position: sticky;
    top:0px;
}
.headtitle{
    background-color: rgb(111, 111, 226);
}
.headtitle1{
    /*padding-top: 50px;*/
    padding: 0;
    margin: 0;
}
.titleoben {
    color: white;
    font-size: 30px;
}


footer{
    height: 80px;
    padding-top: 40px;
    text-align: center;
    background-color: #c5c5c5;
    border-top: 2px solid black;
}
nav{
    width: 100%;
    background-color: rgb(111, 111, 226);
    position: -webkit-sticky;
    position: sticky;
    top: 200px;

}
nav ul{
    margin: 0px;
    padding: 0px;

}
nav li{
    list-style-type:none ;
    float: left;
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #fff;
    text-transform: uppercase ;
    font-size: 15px;
}
article a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #000;
    text-transform: uppercase ;
    font-size: 15px;
}
article li{
    list-style-type: none;
    /*float: left;*/
}
.article-ubung{
    display: grid;
    padding: 0px;
    margin: 0px;
    height: 530px;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #e9f1ed;
}


.table{
    display: table;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 2;
}
.table2{
    display: table;
    margin: 0 auto;
    grid-column-start: 2;
    grid-column-end: 3;
}
.menu-ind:hover, .article-ubung2_1:hover{
    border-top: 5px solid #4c8;
    background-color: RGBa(64, 200, 130, 0.15);
}
.menu-html:hover, .article-ubung2_2:hover{
    border-top: 5px solid #f1dc4f;
    background-color: RGBa(241, 211, 79, 0.15);
}
.menu-css:hover, .article-ubung2_3:hover{
    border-top: 5px solid #0070BB;
    background-color: RGBa(000, 112, 192, 0.15);
}
.menu-js:hover,.article-ubung3_1:hover{
    border-top: 5px solid #e44d26;
    background-color: RGBa(228, 77, 38, 0.15);
}
.menu-php:hover, .article-ubung3_2:hover{
    border-top: 5px solid #4c8;
    background-color: RGBa(64, 200, 130, 0.15);
}
.menu-ubung:hover,.article-ubung3_3:hover{
    border-top: 5px solid #f1dc4f;
    background-color: RGBa(000, 112, 192, 0.15);
}
nav li:hover a{
    padding: 15px 30px 20px 30px;
}
section{
    display: grid;
    padding: 0px;
    margin: 0px;
    grid-template-columns: 50% 50% ;
    background-color: #e9f1ed;
    height: 530px;
}
.right{
    float: left;
    grid-column-start: 2;
    grid-column-end: 3;
}
.left{
    grid-column-start: 1;
    grid-column-end: 2;
}
img{
    margin: 20px 20px;
    width: 90%;
    border-radius: 7px ;
    border: 1px solid black;
}

@media screen and(max-width: 780px) {
    header{
        height: 50px;
    }
    h1{
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }
    nav li a{
        font-size: 12px;
        padding: 10px;
    }
    nav li:hover a{
        padding: 5px 10px 10px 10px;
    }
}

